USE [master]
GO
/****** Object:  Database [WebNhac]    Script Date: 10-25-2024 2:01:30 PM ******/
CREATE DATABASE [WebNhac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebNhac', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebNhac.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebNhac_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebNhac_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebNhac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebNhac]
GO
/****** Object:  Table [dbo].[account]    Script Date: 10-25-2024 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[MaTK] [int] IDENTITY(1000,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[Role] [int] NULL,
	[Ten] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaSi]    Script Date: 10-25-2024 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaSi](
	[MaCS] [int] IDENTITY(1000,1) NOT NULL,
	[TenCS] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 10-25-2024 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[MaCD] [int] IDENTITY(1000,1) NOT NULL,
	[TenCD] [nvarchar](100) NULL,
	[Picture] [nvarchar](100) NULL,
	[Color] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhac]    Script Date: 10-25-2024 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhac](
	[MaBH] [int] IDENTITY(1000,1) NOT NULL,
	[TenBH] [nvarchar](100) NULL,
	[Files] [varchar](100) NULL,
	[image] [nvarchar](200) NULL,
	[NgayPH] [date] NULL,
	[MaCS] [int] NULL,
	[MaTL] [int] NULL,
	[MaCD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayList]    Script Date: 10-25-2024 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayList](
	[Matk] [int] NULL,
	[MaBH] [int] NULL,
	[TenPL] [nvarchar](100) NULL,
	[stt] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 10-25-2024 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1000,1) NOT NULL,
	[TenTL] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([MaTK], [Email], [PassWord], [Role], [Ten]) VALUES (1042, N'admin@gmail.com', N'admin123', 1, N'Phước')
INSERT [dbo].[account] ([MaTK], [Email], [PassWord], [Role], [Ten]) VALUES (1043, N'vohuuphuoc1@gmail.com', N'123', 0, N'Võ Hữu Phước')
INSERT [dbo].[account] ([MaTK], [Email], [PassWord], [Role], [Ten]) VALUES (1048, N'vohuuphuoc2@gmail.com', N'1234', 0, N'Demo')
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[CaSi] ON 

INSERT [dbo].[CaSi] ([MaCS], [TenCS]) VALUES (1002, N'Mono')
INSERT [dbo].[CaSi] ([MaCS], [TenCS]) VALUES (1003, N'Soobin Hoàng Sơn')
INSERT [dbo].[CaSi] ([MaCS], [TenCS]) VALUES (1004, N'Rhymastic')
SET IDENTITY_INSERT [dbo].[CaSi] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuDe] ON 

INSERT [dbo].[ChuDe] ([MaCD], [TenCD], [Picture], [Color]) VALUES (1000, N'Tết1', N'1608452588021_500.jpg', N'yellowgreen         ')
INSERT [dbo].[ChuDe] ([MaCD], [TenCD], [Picture], [Color]) VALUES (1001, N'Giáng sinh', N'1605521487016_500.jpg', N'royalblue           ')
INSERT [dbo].[ChuDe] ([MaCD], [TenCD], [Picture], [Color]) VALUES (1002, N'Tình yêu', N'1512189587492_500.jpg', N'rosybrown           ')
SET IDENTITY_INSERT [dbo].[ChuDe] OFF
GO
SET IDENTITY_INSERT [dbo].[Nhac] ON 

INSERT [dbo].[Nhac] ([MaBH], [TenBH], [Files], [image], [NgayPH], [MaCS], [MaTL], [MaCD]) VALUES (1032, N'Đi về nhà ', N'DiVeNha-DenJustaTee-6892051.mp3', N'1608452588021_500.jpg', CAST(N'2024-10-05' AS Date), 1010, 1000, 1000)
INSERT [dbo].[Nhac] ([MaBH], [TenBH], [Files], [image], [NgayPH], [MaCS], [MaTL], [MaCD]) VALUES (1033, N'Phía sau một cô gái', N'PhiaSauMotCoGai-SoobinHoangSon-4632323.mp3', N'1502986360943_500.jpg', CAST(N'2024-11-10' AS Date), 1003, 1003, 1002)
INSERT [dbo].[Nhac] ([MaBH], [TenBH], [Files], [image], [NgayPH], [MaCS], [MaTL], [MaCD]) VALUES (1036, N'Bài ca tuổi trẻ', N'BaiCaTuoiTre-DaLABLinhCaoMelG-4452195.mp3', N'1531124811438_500.jpg', CAST(N'2024-11-15' AS Date), 1005, 1002, 1004)
SET IDENTITY_INSERT [dbo].[Nhac] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayList] ON 

INSERT [dbo].[PlayList] ([Matk], [MaBH], [TenPL], [stt]) VALUES (1042, 1032, N'playlist1', 24)
INSERT [dbo].[PlayList] ([Matk], [MaBH], [TenPL], [stt]) VALUES (1042, 1032, N'Bài hát yêu thích', 26)
INSERT [dbo].[PlayList] ([Matk], [MaBH], [TenPL], [stt]) VALUES (1042, 1033, N'Bài hát yêu thích', 27)
SET IDENTITY_INSERT [dbo].[PlayList] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (1000, N'rap')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (1001, N'bolero')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (1002, N'Pop')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
ALTER TABLE [dbo].[Nhac]  WITH CHECK ADD FOREIGN KEY([MaCD])
REFERENCES [dbo].[ChuDe] ([MaCD])
GO
ALTER TABLE [dbo].[Nhac]  WITH CHECK ADD FOREIGN KEY([MaCS])
REFERENCES [dbo].[CaSi] ([MaCS])
GO
ALTER TABLE [dbo].[Nhac]  WITH CHECK ADD FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[PlayList]  WITH CHECK ADD FOREIGN KEY([MaBH])
REFERENCES [dbo].[Nhac] ([MaBH])
GO
ALTER TABLE [dbo].[PlayList]  WITH CHECK ADD FOREIGN KEY([Matk])
REFERENCES [dbo].[account] ([MaTK])
GO
USE [master]
GO
